body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFCFD;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #box-1 {
        margin: 50px;
    }
    #box-2 {
        display: none;
    }

    h5{
        font-size: 24vw;
        color: #000000DE;
    }
    small{
        font-size: 2.7vw;
        color: #00000099;
    }
    :placeholder-shown{
        font-size: 2.7vw;
    }

    .btn{
        font-size: 2.3vw;
        background-color: #6200EE;
        border-radius: 5px;
    }
}

#container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#label-form{
    margin-bottom: 30px;
    text-align: left;
}

#box-1 {
    width: 480px;
    margin-right: 50px;
    margin-top: 150px;
}

#box-2 {
    width:auto;
}
img{
    max-width: 100%;
    height: fit-content;
}
h5{
    font-size: 1.5em;
    color: #000000DE;
}
small{
    font-size: 1em;
    color: #00000099;
}
:placeholder-shown{
    font-size: 1em;
}
.btn{
    font-size: 0.8em;
    background-color: #6200EE;
    border-radius: 5px;
}
.button1:hover {
    background-color: #6d03ff;
}